
/*-- Generic Tags ----------------------------------*/

body {
    background-color: #000000;
    color: #DDFFDD;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: #FFFFFF;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

a {
    color: #F81B3F;
    text-decoration: none;
}

a:hover {
    color: #F9F300;
}


/*-- Classes and ID --------------------------------*/

.container {
    max-width: 850px;
    margin: 50px auto;
    padding: 0 20px;
}

.back-button {
    display: block;
    margin-bottom: 20px;
}


/*-- Navigation Bar --------------------------------*/

.navbar {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline;
    margin: 0 10px;
}


/*-- Custom Scrollbar: Chrome ----------------------*/

body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-track {
    background: #000000;
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 6px;
    border: 1px solid #F81B3F;
}

