
:root {
    --palette1: #1C1C1E;
    --palette2: #FFFFFF;
    --palette3: #FFD700;
    --palette4: #E63946;
    --palette5: #BCC6CC;
    --palette6: #F5F5F5;

    --monospace        : var(--palette6);
    --highlight        : var(--palette3);

    --light-bg         : var(--palette2);
    --light-text       : var(--palette1);
    --light-link       : var(--palette4);
    --light-link-h     : var(--palette5);

    --dark-bg          : var(--palette1);
    --dark-text        : var(--palette2);
    --dark-link        : var(--palette5);
    --dark-link-h      : var(--palette4);

    --code-bg          : var(--palette6);
    --code-text        : var(--palette1);
}

/*-- Overrides --------------------------------------*/

body {
    background-color: var(--dark-bg);
    color: var(--dark-text);
    font-family: "Red Hat Display", sans-serif;
    margin: 0;
    padding: 0;
}

br {
    display: block;
    content: "";
    margin-top: 0;
}

a {
    color: var(--dark-link);
    text-decoration: none;
}

a:hover {
    color: var(--dark-link-h);
    text-decoration: none;
}

img {
    width: 100%;
}


/*-- Index.html Specifics ---------------------------*/

.index-body {
    background-color: var(--light-bg);
    color: var(--light-text);
}

.index-head a {
    color: var(--light-link);
}

.index-head a:hover {
    color: var(--light-link-h);
}

.index-head {
    padding: 10% 45% 20% 15%;
}

.index-passage {
    background-color: var(--dark-bg);
    color: var(--dark-text);
    padding: 3% 5% 0;
    top:0;
}


/*-- AxiomSync.html Specifics------------------------*/

.AxS-head {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 40%;
    z-index: -1;
}


/*-- General Classes --------------------------------*/

.head {
    background-color: var(--light-bg);
    color: var(--light-text);
    top:0;
    padding: 5% 45% 5% 15%;
}

.head img {
    margin-left: 40%;
    margin-right: 0;
}

.monospace {
    font-family: 'Anonymous Pro', monospace;
    font-size: 16px;
    padding: 10px 20px;
    color: var(--monospace);
    line-height: 1.5;
}

.code {
    font-family: 'Anonymous Pro', monospace;
    font-size: 15px;
    color: var(--code-text);
    background-color: var(--code-bg);
    padding: 3px 7px;
}

.navigator {
    padding: 2% 5% 0;
}

.pgp {
    word-wrap: break-word;
}


/*-- Passage ----------------------------------------*/

.passage {
    padding: 1% 30% 5% 15%;
}

.passage h2 {
    margin-top: 5%;
}

.passage img {
    width: 95%;
    border: 5px solid var(--light-bg);
    border-left: 30px solid var(--light-bg);
}

.passage video {
    width: 100%;
}

.passage a {
    color: var(--light-link);
}

.passage a:hover {
    color: var(--highlight);
}


/*-- Buttons / Boxes --------------------------------*/

.link-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#link-highlight {
    border: 1px dotted var(--highlight);
    padding: 10px 50px;
    text-align: center;
}

#link-highlight:hover {
    border: 1px outset var(--dark-link-h);
}

.link-box {
    border: 1px dotted var(--dark-link);
    padding: 10px 50px;
    text-align: center;
}

.link-box:hover {
    border: 1px outset var(--dark-link-h);
}


/*-- Images -----------------------------------------*/

.border-image {
    top: 0;
    left: 0;
    width: 100%;
    background-position: center;
    padding: 0;
    border: 0;
}

.img-top {
    margin-bottom: -2%;
}

.img-bottom {
    margin-bottom: 1%;
}

.img404 {
    padding: 10% 0% 2% 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.index-bg {
    position: absolute;
    top: -40%;
    left: 5%;
    width: 90%;
    opacity: 0.03;
    z-index: -1;
}


/*-- Alerts -----------------------------------------*/

.alert {
    display: block;
    text-align: center;
    animation: colorChange 3s infinite;
}

@keyframes colorChange {
    0%   { color: red;    }
    25%  { color: black;  }
    50%  { color: yellow; }
    75%  { color: blue;   }
    100% { color: red;    }
}


/*-- Phone Screen Adjust ----------------------------*/

@media only screen and (max-width: 800px) {
    .index-head {
        padding: 15% 5% 40% 5%;
    }

    .head {
        padding: 5%;
    }
    .passage {
        padding: 5%;
    }

    .navigator {
        padding: 2% 0 0 5%;
    }

    .index-bg {
        top: 7%;
        left: 0;
        width: 100%;
    }

    .phone-patch {
        margin-bottom: 10px;
    }

    .AxS-head {
        visibility: hidden;
    }
}

